.coupon_mainnav{ padding: 0.7em 0; background: #fff; margin-bottom: 0.5em; position: fixed; left: 0; top: 0; width: 100%; z-index: 99;}
.coupon_line{ border-left: 1px solid #e1e1e1;border-right:1px solid #e1e1e1;}
.coupon_list{ padding: 3.6em 0.6em 2em 0.6em;}
.coupon_item{ border:1px solid #efeff4;  border-radius: 0.4em; box-shadow:2px 2px 3px #aaaaaa; margin-bottom: 1em;}
.coupon_top{ background: #fff; padding: 0.5em; border-top-right-radius: 0.4em; border-top-left-radius: 0.4em;}
.coupon_left{ width: 5em;}
.coupon_botom{padding: 0.6em 0.5em; background: rgba(204,204,204,0.21);}
.coupon_active{border:1px solid #00CC66;  border-radius: 0.4em; box-shadow:2px 2px 3px #a4f9cf;}
.coupon_btnbox{ padding:2em 1em 0 1em;}
.sure_use{ background: #FF6600; height: 2.8em; color: #fff; border-radius: 0.4em;}
.instruction{ padding: 2em 0;}
.instruction_left{ padding-right: 5px;}
.instruction_right{ padding-left: 5px;}
.border_r{ width: 1px; height: 0.9em; background: #C1C1C1;}
.center_line{ width: 2em; height: 1px; background: #969696; margin:0 2px;}
.getcoupon_list{padding: 1em 0.6em 2em 0.6em;}
