.handbook_list{ padding: 1.5em 0.6em;}
.handbook_item{ background: #fff;border:1px solid #efeff4;  border-radius: 0.4em; box-shadow:2px 2px 3px #aaaaaa; margin-bottom: 0.6em;}
.handbook_title{ padding: 0.6em; border-bottom: 1px solid #E1E1E1;}
.handbook_bottom{padding: 0.6em; }
